.main {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-white);
  padding: var(--spacing-lg) var(--spacing-md);
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: var(--spacing-lg);
  padding-top: 4rem; 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.info-section {
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 12px;
}

.info-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  gap: 2rem;
}

.info-text {
  flex: 1 1 55%;
  text-align: justify;
}

.info-text h2 {
  font-family: var(--font-heading, 'Inria Serif', serif);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.info-text p {
  font-family: var(--font-body, 'Arial', sans-serif);
  font-size: 1rem;
  line-height: 1.6;
}

.info-image {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
}

.info-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/*Slider*/
.carousel-container {
  height: auto;
  display: flex;
  gap: 0px;
  overflow: hidden; 
  position: relative;
}
 
.carousel-container::before,
.carousel-container::after {
  position: absolute;
  width: 1000px;
  height: 100%;
  z-index: 1;
}
 
.carousel-container::before {
  left: -5;
  background: linear-gradient(to right, transparent);
}
 
.carousel-container::after {
  right: 0;
  background: linear-gradient(to left,transparent);
}
 
.carousel-track{
  display: flex;
  gap: 20px;
  display: flex;
  animation: scroll 40s linear infinite;
}
 
.carousel-container img {
  flex: 0 0 auto;
  width: 420px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}
 
@keyframes scroll {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-50%);
  }
}
 
 
.carousel-container img:hover {
  transform: scale(1.05);
}