.login-page .form-container {
  width: 90%;                  /* ocupa casi todo el ancho en móviles */
  max-width: 62.5rem;          /* máx. 1000px en escritorio */
  min-width: 21.875rem;        /* 350px en rem */
  min-height: 26.875rem;       /* 430px en rem */
  margin: 4rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* contraste */
.modo-contraste,
.modo-contraste h1,
.modo-contraste h2,
.modo-contraste h3,
.modo-contraste a,
.modo-contraste p,
.modo-contraste label,
.modo-contraste span {
  filter: invert(1) hue-rotate(180deg);
  background-color: black !important;
  color: #fff !important;
}

/* ------------------------------ */

.login-page .required {
  color: var(--color-required);
}

.login-page .forgot-password {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--color-forgot-link);
  text-decoration: none;
}
.login-page .forgot-password:hover {
  text-decoration: underline;
}

.login-page .form-title {
  font-weight: 500;
  font-size: 1.3rem;
}

/* ------------------------------ */

@media (max-width: 480px) {
  .login-page .form-container {
    width: 95%;
    min-width: auto;
    padding: 1.5rem;
    min-height: auto;
  }
}

/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .login-page .form-container {
    width: 80%;
    padding: 2rem;
  }
}

@media (min-width: 769px) {
  .login-page .form-container {
    width: 60%;
    max-width: 62.5rem; /* 1000px */
  }
}
