
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem; 
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  line-height: 1.6;
}
/* contraste */
.modo-contraste {
    filter: invert(1) hue-rotate(180deg);
    background-color: black !important;
    color: rgb(255, 255, 255) !important;
}
body.modo-contraste h1,
body.modo-contraste h2,
body.modo-contraste h3,
body.modo-contraste a,
body.modo-contraste p,
body.modo-contraste label,
body.modo-contraste span{
  color: #fff !important;
}

/* ------------------------------ */